.aboutSectionContainer {
  font-family: "Montserrat-Medium";
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  border-top: 0.1rem solid #097179;
  padding: 5%;
}
.lineGraphic1 {
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionHeader {
  padding: 0;
  margin: 0;
  width: 40vw;
  background: transparent;
}
.sectionHeader h1 {
  margin: 0;
  font-family: "Montserrat-Medium";
  color: black;
  font-size: 80px;
}
.skills {
  text-align: right;
  background: linear-gradient(#e8986b, #e8986b) bottom right/67% 45%;
  background-position: left 100% top 100%;
  background-repeat: no-repeat;
}
.Experience {
  background: linear-gradient(#e8986b, #e8986b) center/67% 45%;
  background-position: left 50% top 100%;
  background-repeat: no-repeat;
  text-align: center;
}
.about {
  background: linear-gradient(#e8986b, #e8986b) bottom left/67% 45%;
  background-position: right 100% top 100%;
  background-repeat: no-repeat;
}


.skillsSection {
  display: flex;
  width: 500px;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
}

@media screen and (width < 1075px) {
  .skillsSection {
    width: auto;
  }
  .biography {
    width: 95%;
  }
}
