.aboutSectionContainer {
  font-family: "Montserrat-Medium";
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-top: 0.1rem solid #097179;
  padding: 5%;
}
.lineGraphic1 {
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionHeader {
  padding: 0;
  margin: 0;
  background: transparent;
}
.sectionHeader h1 {
  margin: 0;
  font-family: "Montserrat-Medium";
  color: black;
  font-size: 80px;
  width: 500px;
}
p {
  font-size: x-large;
}
.skills {
  text-align: center;
  background: linear-gradient(#e8986b, #e8986b) bottom right/100% 45%;
  background-position: left 100% top 100%;
  background-repeat: no-repeat;
}
.Experience {
  background: linear-gradient(#e8986b, #e8986b) center/67% 45%;
  background-position: left 50% top 100%;
  background-repeat: no-repeat;
  text-align: center;
}
.about {
  text-align: center;
  background: linear-gradient(#e8986b, #e8986b) bottom right/100% 45%;
  background-position: left 100% top 100%;
  background-repeat: no-repeat;
  
}


.skillsSection {
  display: flex;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
}

/* .certifications ul {
  font-size: 1.5em;
  list-style: none;
} */
/* .aboutText {
  width: fit-content;
  font-size: 1.5em;
} */

.graphichWithResume {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 2rem;
}
.graphichWithResume img {
  width: 350px;
  align-items: center;
}

@media screen and (width < 1075px) {
  .skillsSection {
    width: auto;
  }
  .biography {
    width: 95%;
  }
}
